@import url('http://weloveiconfonts.com/api/?family=zocial');
*{
  margin: 0px;
  padding: 0px;
}
@font-face{
    font-family:'zocial', sans-serif;
}

[data-icon]:before{
    font-family:'zocial';
    content:attr(data-icon);
    -webkit-font-smoothing:antialiased;
}

#wrapper{
  width: 100%;
  height: auto;
  margin: auto;
  position: relative;
  z-index: 1;
  color: red;
  font-family: Times New Roman;

}
html,body{
  color: red;
  font-size: 19px;
  margin: 0;
  padding: 1px;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

#header .image{
  margin: auto;
  left: 20px;
  position: absolute;
}
#header .margin{
  margin: 12px;
}
#header .none-color{
  background-color: rgba(0, 1, 1, 0.2 );
  border-color: rgba(255, 0, 255, 0);
}
#header .color{
  background-color: black ;
  border-color: white;
}
#left{
  width: 60%;
  margin-left: 50px;
  margin-right: 50px;
  height: auto;
  float: left;
  font-style: normal;
  margin-bottom: 20px;
}
#left h1{

  text-align: center;
  color: #0000bf;
  margin-top: 30px;
}
#left h2{
  text-align: justify;
  color: #151515;
  font-size: 20px;
}
#left .myAlbum{
  margin: 15px 15px 15px 15px;
}
#left .myAlbum img{
  margin: 10px 50px 0px 50px;
  width: 650px;
  height: 400px;
  border: 1px solid #ccc;
  padding: 10px;
  transition: 1s;
}
#left .myAlbum p{
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;

}
#left .myAlbum img:hover {
    padding: center;
    border: 1px solid #ccc;
    transform: scale(1.1);
  }
#right{
  margin-left: 50px;
  margin-right: 50px;
  width: 25%;
  float: left;
  height: auto;
}

#right .tintuc h2{
  margin: 20px 15px 20px 5px;
  color: red;
  text-align: center;
}
#right .tintuc ul{
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
}
#right .tintuc ul li{
  width: 100%;
  background-color: #e5e5e5;
  list-style: none;
  clear: left;
  border-bottom: 2px solid #ccc;
  float: left;
  margin-bottom: 20px;
}
#right .tintuc h4{
  margin: 15px 5px 15px 5px;
}
#right .tintuc ul li img{
  float: left;
  width: 120px;
  height: 80px;
  margin: 5px 5px 5px 5px;
}
#right .quangcao{
  margin: 0px;
  padding: 0px;
}
#right .quangcao img{
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
  height: 200px;
}
a{
   text-decoration: none;
   -webkit-transition: all .2s linear;
   -moz-transition: all .2s linear;
   -ms-transition: all .2s linear;
   -o-transition:  all .2s linear;
   transition: all .2s linear;
}
#footer .clear {
   clear: both;
}

#footer {

    width: 100%;
    clear: both;
    margin-top: 50px;
    background-color: #2E3639;
    position: relative;
    z-index: 1;
}

#footer .bar{
    background-color:#1E2629;
    padding:20px 0;
}

#footer .bar-wrap{
    font-size:12px;
    margin:0 auto;
    /*max-width:1200px;*/
    position:relative;
    width:80%;
}

#footer .links{
    float:left;
    list-style:none outside none;
    position:relative;
}

#footer .links li{
    float:left;
    margin-right:10px;
}

#footer .links a{ color:#778888;}

#footer .links a:hover{color:#FFFFFF;}
#footer .social{
    position:absolute;
    right:0;
    top:0;
}

#footer .social a{ color:#778888; margin-left:20px;}
#footer .social a:hover{color:#ffffff;}
#footer .social .icon{
    display:inline-block;
    font-size:36px;
    margin-right:5px;
    vertical-align:middle;
    -webkit-transition:-webkit-transform .3s linear;
    -moz-transition: -moz-transform .3s linear;
    -ms-transition:-ms-transform .3s linear;
    -o-transition:-ms-transform .3s linear;
    transition: transform .3s linear;
}
.social a:hover .icon{
   -webkit-transform:rotate(360deg);
   -moz-transform:rotate(360deg);
   -ms-transform:rotate(360deg);
   -o-transform:rotate(360deg);
    transform:rotate(360deg);
}

.social .info{
    display:inline-block;
    vertical-align:middle;
}

.social .info .num{display:block;}
.copyright{
    color:#778888;
    margin-top:5px;
}

/* Responsive */

@media screen and (max-width:1000px){
    .links, .social, .copyright{
        float:none;
        text-align:center;
    }

    .social{
        position:relative;
        margin:10px 0;
    }

    .links li{
        display:inline-block;
        float:none;
    }

    .bar{
        position:relative;
    }

    .bar-wrap{
        margin-bottom:0;
    }
}

@media screen and (max-width: 835px)  {
    #footer > ul li {
        float:none;
        width:auto;
    }
}

@media screen and (max-width: 768px)  {
    .links li {
        margin-right:5px;
    }
}
