@import url('http://weloveiconfonts.com/api/?family=zocial');
*{
    margin:0;
    padding:0;
}

@font-face{
    font-family:'zocial', sans-serif;
}

[data-icon]:before{
    font-family:'zocial';
    content:attr(data-icon);
    -webkit-font-smoothing:antialiased;
}





.container{
  margin: 0px;
  padding: 0px;
  width: 100%;
  margin: auto;
  min-height: 1200px;
}

  /* định dạng kích thước danh sách video */
.pb-video-container {
    width: 100%;
    margin: auto;
    float: left;
    padding-top: 20px;
    background: #bdc3c7;
    font-family: Times New Roman ;
}
/* định dạng kích thước cột chứa video*/
.pb-video {
    border: 1px solid #e6e6e6;
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
    height: 350px;
    padding: 5px;
    float: left;

}
    /* hiệu ứng thay đổi màu nền khi di chuột */
    .pb-video:hover {
        background: #2c3e50;
    }

/* định dạng kích thước cho video */
.pb-video-frame {
    transition: width 2s, height 2s;
    width: 100%;
    height: 100%;
}
      /* thu nhỏ chiều cao của video khi di chuột tới */
    .pb-video-frame:hover {
        height: 450px;
    }

.pb-row{
    margin-bottom: 70px;
}

/* định dạng cho nut back to top*/
#top {
	position: fixed;
	right: 10px;
	bottom: 120px;
	display: none;
}
/* định dạng cho phafanf footer */
#footer{
  margin-top: 50px;
  clear: both;
  margin: 0px;
  padding: 0px;
  height: 50px;
  width: 100%;
  background-color:#2E3639;
  position:relative;
  z-index: 1;
}
#footer a{
    text-decoration:none;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -ms-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear;
}

#footer .bar{ /* màu nền cho footer */
  background-color:#1E2629;
  padding: 30px 0; ;
}
#footer .row{ /* kich thước chứa nội dung của footer */
  height: 50px;
  font-size:15px;
  margin:0 auto;
  max-width:1200px;
  position:relative;

}
  #col-sm-5 .links{ /* định dạng cho menu */
    margin: auto;
    width: auto;
    float:left;
    list-style:none outside none;
    position:relative;
  }

  .links li{
    list-style: none;
    float:left;
    margin-right: 20px;
  }

  .links a{ color:#778888;} /* màu của chữ ở menu */
  .links a:hover{color:#FFFFFF;} /* hiệu ứng của chữ khi click menu */

  /* định dạng cho icon */
  .social{
    position:absolute;
    right:0;
    top:0;
  }

  .social a{ color:#778888;margin-right: 20px} /* màu vào icon */
  .social a:hover{color:#FFFFFF;}/* hiệu ứng khi click vào icon */
  .social .icon{
    display:inline-block;
    font-size:36px;
    vertical-align:middle;
    -webkit-transition:-webkit-transform .3s linear;
    -moz-transition: -moz-transform .3s linear;
    -ms-transition:-ms-transform .3s linear;
    -o-transition:-ms-transform .3s linear;
    transition: transform .3s linear;
  }

  .social a:hover .icon{ /* hiệu ứng xoay của icon khi di chuột tới */
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
  }

  .social .info{
    display:inline-block;
    vertical-align:middle;
  }

  .social .info .num{display:block;}
  .clear{ clear:both; }
  .copyright{
    margin:0;
    color:#778888;
  }

  @media screen and (max-width:1000px)
  {
    .links, .social, .copyright{
    float:none;
    text-align:center;
  }

  .social{
    position:relative;
    margin:10px 0;
  }

  .links li{
    display:inline-block;
    float:none;
  }

  .bar{
    position:relative;
  }

  .bar-wrap{
    margin-bottom:0;
    }
  }

@media screen and (max-width: 835px)  {
#footer ul li {
  float:none;
  width:auto;
  }
}

@media screen and (max-width: 768px)  {
  .links li {
    margin-right:5px;
    }
  }
